/* .App{
  background-color:lavender;
} */

.nav{
  background-color: lavender;
  background-attachment: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: 2px 2px 4px grey;
    margin-bottom: 1em;
}

.nav-bttn::after{
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

input[type], 
textarea {
  display: block;
  width: 90%;
  margin: auto;
  /* box-shadow: #a5a75ee1 0px 50px 100px -20px, rgba(237, 240, 15, 0.883) 0px 30px 60px -30px, rgba(237, 240, 15, 0.883) 0px -2px 6px 0px inset; */
}

form, .card-info{
  padding: 20px;
  border: 5px solid black;
  margin: 10;
}

.card-info{
  display: grid;
  justify-content: center;
  
}

footer{
  text-align: center;
}

.pic-img{
object-fit: cover;
width: 450px;
height: 400px;
}

.info {
  grid-template-rows: 1fr 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
}

.index-info{
  background-color: lavender;
}

.display-cards{
  display: grid;
 
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);


}

.one-card{
  text-align: center;
  margin: 10px 10px 10px 10px;
  box-shadow: rgb(31, 187, 143) 0px 2px 4px, rgb(31, 187, 143) 0px 7px 13px -3px, rgb(31, 187, 143) 0px -3px 0px inset;

}

button {
  background: black ;
  color: #fff;
  font-size: 14px;
  border-radius: 0.5em;
  padding: 0 1em;
  position: relative;
  overflow: hidden;
  line-height: 32px;
}

/* Pagination links */
ul{
  display: flex;
  justify-content: center;
  float: left;
  padding: 8px 16px;
  list-style: none;
  transition: background-color .3s;
  color: solid black;
}

/* Style the active/current link */
.paginationActive {
 color: #ee7752;
 background-color: rgb(15, 18, 22)
}

/* Add a grey background color on mouse-over */
/* .pagination a:hover:not(.active) {background-color: #ddd;} */

/* .paginationBttns{
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  j;
}*/

.paginationBttns, .previousBttn, .nextBttn,li > a{
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid lavenderblush;
  /* color: #23a6d5; */
  cursor: pointer rgb(247, 247, 250);
} 


/* Home Page */
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
